{
  "extends": [
    // "react-app",
    "airbnb",
    "plugin:flowtype-errors/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "flow-typed/*.js",
    "flow-typed/npm/*.js"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_"
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}