.BaseCard-container {
  background-color: white;
  /* match canLinkOverlay */
  border-radius: 12px;
  box-shadow: 2px 2px 6px 0 rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.BaseCard-containerBeingDragged {
  opacity: 0.5;
}

.BaseCard-header {
  border-radius: 12px 12px 0 0;
  padding: 8px;
}

.BaseCard-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px;
}

.BaseCard-canLinkOverlay {
  align-items: center;
  /* match container */
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 0;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.BaseCard-canLinkOverlayConnect {
  background-color: rgb(255, 255, 0, 0.1);
}

.BaseCard-canLinkOverlayDisconnect {
  background-color: rgb(255, 0, 0, 0.1);
}

.BaseCard-linkHandle {
  background-color: white;
  border: none;
  border-radius: 50%;
  /* height: 24px; */
  padding: 0;
  position: absolute;
  right: -12px;
  /* width: 24px; */
}

.BaseCard-deleteButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.BaseCard-deleteButton:hover {
  background-color: rgb(0, 0, 0, 0.1);
}
