.BaseCard-container {
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

.BaseCard-containerBeingDragged {
  opacity: 0.5;
}

.BaseCard-linkHandle {
  position: absolute;
  right: -30px;
}

.BaseCard-deleteButton {
  position: absolute;
  top: 0px;
  right: 0px;
}
