.SidePanel-container {
  border-right: 1px;
  border-right-style: solid;
  width: 200px;
}

#submit-div {
  display: flex;
  align-items: center;
}

#upload-button {
  width: 25%;
}

#story-name {
  width: 75%;
}

#story-id {
  width: 75%;
}
