certifi==2020.12.5
click==7.1.2
clip @ git+https://github.com/openai/CLIP.git@cfcffb90e69f37bf2ff1e988237a0fbe41f33c04
fire==0.4.0
flake8==3.9.1
Flask==1.1.2
ftfy==6.0.1
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy==0.812
mypy-extensions==0.4.3
numpy==1.20.2
Pillow==8.2.0
pycodestyle==2.7.0
pyflakes==2.3.1
regex==2021.4.4
six==1.15.0
termcolor==1.1.0
torch==1.8.1+cu111
torchaudio==0.8.1
torchvision==0.9.1+cu111
tqdm==4.60.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
yapf==0.31.0
